/* =========================
   Estilos específicos: ofertas
   ========================= */

:root {
    --bg-color: #050505;
    --text-main: #ffffff;
    --text-muted: #888888;
    --border-color: #222222;
    --card-bg: #111111;
    --card-hover: #1a1a1a;
    
    --font-heading: 'Space Grotesk', sans-serif;
    --font-body: 'Manrope', sans-serif;
}
